<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <sparsh_smtp>
            <general>
                <enable>0</enable>
                <host>localhost</host>
                <port>25</port>
            </general>
        </sparsh_smtp>
    </default>
</config>
